main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.4rem;
  padding: 0.1rem;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.btn:hover {
  transform: translateY(1px);
}

.Cardhome:hover {
  transform: translateY(-1px);
  transition: ease-in-out 0.3s;
  box-shadow: 2px 2px 3px gray;
}

.trashicon {
  color: rgb(204, 26, 26);
}
