body {
  letter-spacing: 0;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.4rem;
  padding: 0.1rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(37, 119, 196) !important;
}

.steps {
  background: rgba(17, 16, 16, 0.719) !important;
  color: white !important;
  border-radius: 10px;
}

.rating span {
  margin: 0.1rem;
}

.btn:hover {
  transform: translateY(1px);
}

.title {
  text-align: center;
}

label {
  margin: 0.5rem 0 !important;
}

.Cardhome:hover {
  transform: translateY(-1px);
  transition: ease-in-out 0.3s;
  box-shadow: 2px 2px 3px gray;
}

.trashicon {
  color: rgb(204, 26, 26);
}
